.title {
    font-family: "Arial",sans-serif;
    z-index: 1;
    font-size: 16pt;
    font-weight: bold;
}
.value {
    font-family: "Arial",sans-serif;
    z-index: 1;
    font-size: 14pt;
}
text {
    user-select: none;
}
text::selection {
    pointer-events: none;
    background-color: rga(0,0,0,0.0);
}
text:hover {
    cursor:pointer;
}